/*
    Ilya Atahsoda - 40131843 - WEBHW
*/

* {
    margin: 0px;
}

html {
    height: 100%;
    background-image: linear-gradient(#0046ae, #9198e5);
}

.player {
    margin: auto;
    margin-top: 300px;
    display: block;
    position: relative;
    height: 400px;
    width: 270px;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    border-radius: 25px;
}

.player:hover {
    background-image: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}

.song {
    text-shadow: 3px 3px 7px #2e2e2e;
    color: ghostwhite;
    margin-top: 5px;
    text-align: center;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.songwriters {
    text-shadow: 3px 3px 7px #3b3a3a;
    text-align: center;
    color: #666666;
    font-size: smaller bold;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.songwriters:hover {
    color: #2e2e2e;
    transition: 500ms;
}